@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto);

/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}


h2 {
  color:rgba(255,255,255,.8);
  margin-left:12px;
}

body {
   background: url('/images/background.jpg');
  background-repeat: none;
  background-size: cover;
  font-family: 'Roboto', sans-serif; 
}

form {
  position:relative;
  margin: 50px auto;
  width: 380px;
  height: auto;
}

input {
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(255,255,255,.2);
  display: block;
  margin: 15px;
  width: 300px;  
  color:white;
  font-size:18px;
  height: 54px;
}


select {
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(255,255,255,.2);
  display: block;
  margin: 15px;
  width: 300px;  
  color:black;
  font-size:18px;
  height: 54px;
}
input:focus {
  outline-color: rgba(0,0,0,0);
  background: rgba(255,255,255,.95);
  color: #e74c3c;
}

button {
  float:right;
  height: 121px;
  width: 50px;
  border: 0px;
  background: #e74c3c;
  border-radius:7px;
  padding: 10px;
  color:white;
  font-size:22px;
}

.inputUserIcon {
  position:absolute;
  top:68px;
  right: 80px;
  color:white;
}

.inputPassIcon {
  position:absolute;
  top:136px;
  right: 80px;
  color:white;
}

input::-webkit-input-placeholder {
  color: white;
}

input:focus::-webkit-input-placeholder {
  color: #e74c3c;
}

 .search {
  position: relative;
  top: -60px;
  left: 70px;
  height: 40px;
  width: 120px;
  border: 0px;
  background: #e74c3c;
  border-radius:7px;
  padding: 10px;
  color:white;
  font-size:22px;
}

table {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width :760px;
}

caption {
  text-align: left;
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

thead {
  background: SteelBlue;
  color: white;
}

th,
td {
  padding: 5px 10px;
}

tbody tr:nth-child(even) {
  background: WhiteSmoke;
}

tbody tr:nth-child(odd) {
  color: WhiteSmoke;
}

tbody tr td:nth-child(2) {
  text-align:center;
}

tbody tr td:nth-child(3),
tbody tr td:nth-child(4) {
  text-align: right;
  font-family: monospace;
  /*color: white;*/
}

tfoot {
  background: SeaGreen;
  color: white;
  text-align: right;
}

tfoot tr th:last-child {
  font-family: monospace;
}

#products{
  width: 680px;
  position: relative;
  top: 20px;
  left :-170px;
}

.category_products{
  width: 680px;
  position: relative;
  top: -20px;
  left :270px;
}

.cat_prod{
  width: 680px;
  position: relative;
  top: 20px;
  left: 45px;
}


.label{
  color: white;
}

.new_product{
  position: relative;
  top:; -10px;
  left: 260px;
}

.item{
  width: 120px;
  height: 120px;
  position: relative;
  top :20px;
  left: 220px;
  background: rgba(245,245,245,.8);
  margin: 20px 0 0 20px;
  display: inline-block;

}


/* styles for add to cart button */

.carrot-flat-button {
  position: relative;
  top: 180px;
  left :40px;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e67e22;
  border: 0;
  border-bottom: 2px solid #da751c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #da751c;
  box-shadow: inset 0 -2px #da751c;
}

.carrot-flat-button {
  /*position: relative;
  top: 180px;
  left :40px;*/
  width: 120px;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e67e22;
  border: 0;
  border-bottom: 2px solid #da751c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #da751c;
  box-shadow: inset 0 -2px #da751c;
}


.sale_product{
  width: 200px;
  height: 200px;
  position: rrelative;
  top: 20px;
  left:20px;
  background: #276545;
  margin: 2px 2px 2px 2px;
  display: inline-block;
}

.product_details{
  width: 120px;
  height: 60px;
  background: white;
  color: blue;
  display: block;
  margin: 20px 10px 10px 20px;
}
#cart{
  width: 400px;
  height: 400px;
  position: relative;
  top: 10px;
  left: 120px;
  background: white;
}

#wrapper{
  width: 800px;
}

.category_box{
  width: 350px;
  height: 250px;
  border: 2px solid white;
  border-radius: 5px;
  float: left;
  margin: 0 5px 5px 5px;
}

#categories{
  width: 800px;
  margin: 0 300px;
}
#welcome{
  width: 800px;
  float left;
}
.text{
  font-family:  helvetica sans-serif monospace;
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding:10px;
  margin:20px;
  text-transform: uppercase;
  position: relative;
  top: 20px;
  left: 280px;
  text-align: center;
  text-shadow: 4px 4px 8px #FF0000
}

.products{
      list-style:none;
      margin-right:300px;
      padding:0px;
      height:100%;
      position: relative;
      top: 0;
      left: 120px;
  }
  .products li{
    display:inline;
    float:left;
    margin:10px;
  }
  .item{
    display:block;
    text-decoration:none;
  }
  .item img{
    border:1px solid #333;
    height: 200px;
    width: 200px;
  }
  .item p{
    margin:0;
    font-weight:bold;
    text-align:center;
    color:#FFFFF;
  }


  #menu-bar {
  width: 800px;
  margin: 2px 2px 3px 0px;
  padding: 4px 6px 4px 6px;
  height: 40px;
  line-height: 100%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0px 2px 4px #466664;
  -webkit-box-shadow: 0px 2px 4px #466664;
  -moz-box-shadow: 0px 2px 4px #466664;
  background: #8B8B8B;
  background: linear-gradient(top,  #7D8CA9,  #7A7A7A);
  background: -ms-linear-gradient(top,  #7D8CA9,  #7A7A7A);
  background: -webkit-gradient(linear, left top, left bottom, from(#7D8CA9), to(#7A7A7A));
  background: -moz-linear-gradient(top,  #7D8CA9,  #7A7A7A);
  border: solid 1px #54686D;
  position:relative;
  left: 240px;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: 'arial black';
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #0399D4;
  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}