
<div class="category_products">
	<% if @products.any? %>
	<table id="table">
		<thead>
			<th>Item Name</th>
			<th>Item Price</th>
		</thead>
		<% @products.each do |product| %>
			<tr>
				<td><%=product.name%></td>
				<td><%=product.price%></td>
			</tr>
		<% end%>
		</table>
		<div id="cart">
			
		</div>
		<input type="submit" id="button" value="Checkout">
	<% end%>
</div>