<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="utf-8" /> 
    <title>Shopping Cart</title> 
    <!-- Bootstrap CSS -->
    <link href="/cart_styles.css" rel="stylesheet" >
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" >
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    


</head> 
<body> 
  	<%= yield %>

   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/libs/underscore-min.js"></script>
    <script src="js/libs/backbone-min.js"></script>
    <script src="js/libs/lightbox.js"></script>
    <script src="js/store.js"></script>

</body> 
</html>