
<div id="wrapper">
	<ul class="products">
		<% if products.any? %>
			<% products.each do |product| %>
				<li>
					<a href="#" class="item">
						<img src="/images/<%=product.name%>.jpg"/>
						<div>
							<p><%=product.name%></p>
							<p>Price:$<%=product.price%></p>
						</div>
					</a>
				</li>
			<%end%>
		<% end %>
	</ul>
	<div class="cart">
		<h1>Shopping Cart</h1>
		<div style="background:#fff">
		<table id="cartcontent" fitColumns="true" style="width:300px;height:auto;">
			<thead>
				<tr>
					<th field="name" width=140>Name</th>
					<th field="quantity" width=60 align="right">Quantity</th>
					<th field="price" width=60 align="right">Price</th>
				</tr>
			</thead>
		</table>
		</div>
		<p class="total">Total: N0</p>
		<p><input type="submit" value="checkout"></p>
		<h2>Drop here to add to cart</h2>
	</div>
</div>
