<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="jquery,ui,easy,easyui,web">
	<meta name="description" content="easyui help you build your web page easily!">
	<title>Cart</title>
	<link rel="stylesheet" type="text/css" href="/cart_styles.css">
	<link rel="stylesheet" type="text/css" href="/popup.css">
	<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>

	<script>
		$(document).ready(function(){
			var data = {"total":0,"rows":[]};
		var totalCost = 0;
		
		$(function(){

			$('#cartcontent').datagrid({
				singleSelect:true
			});
			$('.item').draggable({
				revert:true,
				proxy:'clone',
				onStartDrag:function(){
					$(this).draggable('options').cursor = 'not-allowed';
					$(this).draggable('proxy').css('z-index',10);
				},
				onStopDrag:function(){
					$(this).draggable('options').cursor='move';
				}
			});
			$('.cart').droppable({
				onDragEnter:function(e,source){
					$(source).draggable('options').cursor='auto';
				},
				onDragLeave:function(e,source){
					$(source).draggable('options').cursor='not-allowed';
				},
				onDrop:function(e,source){
					var name = $(source).find('p:eq(0)').html();
					var price = $(source).find('p:eq(1)').html();
					addProduct(name, parseFloat(price.split('$')[1]));
				}
			});
		});
		
		function addProduct(name,price, action){

			function add(){
				for(var i=0; i<data.total; i++){
					var row = data.rows[i];
					//console.log(row);
					if (row.name == name){
						row.quantity += 1;
						return;
					}
				}
				data.total += 1;
				data.rows.push({
					name:name,
					quantity:1,
					price:price

					
				});
			}
			add();
			totalCost += price;
			$('#cartcontent').datagrid('loadData', data);
			$('div.cart .total').html('Total: $'+totalCost);

			$("#checkout").click(function(){


				  $.ajax({
					url: '/checkout',
					type: 'post',
					dataType: 'json',
					contentType: 'application/json',
					data: JSON.stringify(data.rows),
					success: function(response){
						$('#message').html('Your order has been processed.<br/> You can can now explore more.<br/>Thank you.')
					},
					error: function(jqXHR, textStatus, error){
						console.log(jqXHR, textStatus, error);
					}
				});
				console.log(data.rows);
			});
		}
		$('#checkout').click(function(){
			$('#details').dialog('open');
		});
})
		
	</script>
</head>
<body>
	<nav>
		<ul id="menu-bar">
		    <li><a href="/home">Home</a></li>
		    <li>
		        <a href="#">Categories</a>
		        <ul>
		         <li><a href="/categories/new">New category</a></li>
		        <% if @categories.any? %>
		        	<% @categories.each do |category|%>
		            	<li><a href="/categories/<%=category.id%>/products"><%=category.name%></a></li>
		            <% end %>
		        <% end %>
		        </ul>
		    </li>
		    <li><a href="/sales">Shop</a></li>
		    <li><a href="/products/new">New Item</a></li>
		    <li><a href="#">Contact</a></li>
		    <li><a href="/logout">Logout</a></li>
		</ul>
	</nav>
	<%= yield %>
</body>
</html>