
	 <div id="categories">
	 	<div class="category_box">
	 		<a href="/categories/1/products"><img src="/images/fruits.jpg" width="346" height="246"></a>
	 	</div>
	 	<div  class="category_box">
	 		<a href="/categories/3/products"><img src="/images/meats.jpg" width="346" height="246"></a>
	 	</div>
	 	<div  class="category_box">
	 		<a href="/categories/4/products"><img src="/images/clothing.png" width="346" height="246"></a>
	 	</div>
	 	<div  class="category_box">
	 		<a href="/categories/2/products"><img src="/images/mobiles.jpg" width="346" height="246"></a>
	 	</div>
	 </div>