<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link rel="stylesheet" type="text/css" href="/homestyle.css">
</head>
<body>
	<div id="wrapper">
		<%= yield %>
	</div>
</body>
</html>