<!DOCTYPE html>
<html>
<head>
	<title>Merchant app</title>
	<link rel="stylesheet" type="text/css" href="/new_style.css">
	<!-- DataTables CSS -->
	<link rel="stylesheet" type="text/css" href="/DataTables-1.10.7/media/css/jquery.dataTables.css">
	<link rel="stylesheet" type="text/css" href="/dataTables.jqueryui.css">
	
	  
	<!-- jQuery -->
	<script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/media/js/jquery.js"></script>
	  
	<!-- DataTables -->
	<script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>

	<script type="text/javascript" charset="utf8" src="/js/dataTables.jqueryui.js"></script>


 
</head>
<body>
	<nav>
		<ul id="menu-bar">
		    <li><a href="/home">Home</a></li>
		    <li>
		        <a href="#">Categories</a>
		        <ul>
		         <li><a href="/categories/new">New category</a></li>
		        <% if @categories.any? %>
		        	<% @categories.each do |category|%>
		            	<li><a href="/categories/<%=category.id%>/products"><%=category.name%></a></li>
		            <% end %>
		        <% end %>
		        </ul>
		    </li>
		    <li><a href="/sales">shop</a></li>
		    <li><a href="/products/new">New Item</a></li>
		    <li><a href="#">Contact</a></li>
		    <li><a href="/logout">Logout</a></li>
		</ul>
	</nav>
	<section>
		<div id="wrapper">
			<%= yield %>
		</div>
	</section>


    <script type="text/javascript">
       $(document).ready(function() {
       	var rowset = [];
       	cart = [];
		    var table = $('#table').DataTable();
		 
		    $('#table tbody').on( 'click', 'tr', function () {
		           rowData = table.row(this).data();
		            $(this).addClass('selected');
		        	//alert(rowData);
		        	rowset = rowData.toString().split(",");
		        	rowset.push(1);
		        		item = {name: rowset[0], price: rowset[1] }
		        		cart.push(item);
		        		localStorage.setIem('cart', cart);
		        		alert(localStorage.getItem(cart))
					} );
					//
		 		
		    $('#button').click( function () {
		        table.row('.selected').remove().draw( false );
		    } );
		} );
    </script
</body>
</html>