<div id="wrapper">
	<form method="post" action="/user/new">
		<input type="text" placeholder="username..." name="username">
		<input type="password" name="password" placehoder="password...">
		<input type="password" name="password2" placeholder="repeat password...">
		<input type="submit" value="Add user">
	</form>
</div>