<div id="category_products">
	<ul class="products">
		<% if @product %>
				<li>
					<a href="#" class="item">
						<img src="/images/<%=@product.name%>.jpg" height="200" width="200"/>
						<div>
							<p><%=@product.name%></p>
							<p>Price:$<%=@product.price%></p>
						</div>
					</a>
				</li>
		<% end %>
	</ul>
</div>