<div id="category_products">
	<table class="new_product">
		<thead>
		    <tr>
		      <th>Item</th>
		      <th>Quantity</th>
		      <th>Price</th>
			</tr>
		</thead>
		<tr>
			<td><%=@product.name%></td>
			<td><%=@product.quantity%></td>
			<td><%=@product.price%></td>
		</tr>
	</table>
</div>